<h1>Productos</h1>
<div class="content">
    <form id="formProductos">
        <div class="content-input">
            <label for="nombre">Nombre Productos:</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div class="content-input">
            <label for="descripcion">Descripción Productos:</label>
            <input type="text" name="descripcion" id="descripcion">
        </div> 
        <button type="submit">Enviar</button>
    </form>
</div>

<table id="tablaProductos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <!-- Los datos se agregarán aquí -->
    </tbody>
</table>