
<div class="container">
    <h1>Productos</h1>
    <div class="contentedorTable">
        <div>
            <a class="btnNuevo btn" href="#categoria">Crear una nueva Categoria</a>
        </div>
        <table id="tablaProductos">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se agregarán aquí -->
            </tbody>
        </table>
    </div>

</div>